*{border: rgba(0, 0, 0, 0) 1px solid;}

style {
  font-family: sans-serif;
}
img {
  border: rgb(127, 255, 212) 4px solid;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 10%;
}
.bg {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/backg.jpg);
  background-size: cover;
  background-position: center;
}
/* #rectangle {
  width: 100vw;
  height: 100px;
  background: rgba(127, 255, 212, 0.7);
}
#black {
  width: 100vw;
  height: 30px;
  background: rgba(0, 0, 0, 0.7);
} */
