*{
  border: rgba(0, 0, 0, 0) 1px solid;
  margin: 0;
  padding: 0;
}

style {
  font-family: sans-serif;
}

img {
  border: rgb(127, 255, 212) 2px solid;
  border-radius: 50%;
  display: block;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../image/backg.jpg);
  background-size: cover;
  background-position: center;
}

.con {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 2px;
  width: 0;
  background: rgb(127, 255, 212);
  position: absolute;
  left: 0;
  bottom: 12px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.main {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.main h1 {
  font-size: 60px;
  margin-top: 80px;
}

.main h1:hover {
  color: rgb(127, 255, 212);
}

.main p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.pos {
  margin: 20% auto;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
}

.wpos {
  margin: 20% auto;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 30px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(127, 255, 212);
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: rgb(127, 255, 212);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

#myDiv {
  margin-bottom: 20px;
  width: 100%;
  color: white;
  visibility: hidden;
}

#forpre {
  font-family: sans-serif;
  color: white;
}

#Memy {
  margin-bottom: 20px;
  width: 100%;
  color: rgb(0, 0, 0);
  visibility: hidden;
}

@media only screen and (min-width: 769px) {
  .ps1 {
    left: 10%;
  }
  
  .ps2 {
    width: 20%; position: absolute; left: 50%;
  }
  
  .ps3 {
    width: 30%; position: absolute; left: 50%;
  }
  
  .pspre {
    position: absolute; left: 10%;
  }
}


@media only screen and (max-width: 768px) {
  .pst1 {
    left: 35%;
    top: 150px;
  }
  .pst2 {
    position: absolute;
    width: 20%;
    top: 500px;
    left: 50%;
    margin-left: -10%;
  }
  .pst3 {
    position: absolute;
    width: 30%;
    top: 500px;
    left: 50%;
    margin-left: -15%;
  }
  .pstpre {
    text-align: center;
    top: 200px;
  }
  #myDiv {visibility: visible;}
  #memy {visibility: visible;}
  button {visibility: hidden;}
}

@media only screen and (max-width: 576px) {
  .pst-1 {
    left: 30%;
    top: 30px;
  }
  .pst-2 {
    position: absolute;
    width: 20%;
    top: 500px;
    left: 50%;
    margin-left: -10%;
  }
  .pst-3 {
    position: absolute;
    width: 30%;
    top: 500px;
    left: 50%;
    margin-left: -15%;
  }
  .pst-pre {
    text-align: center;
  }
  #myDiv {visibility: visible;}
  #memy {visibility: visible;}
  button {visibility: hidden;}
}
