style {
  font-family: sans-serif;
}
img {
  border-radius: 50%;
  border: solid wheat 4px;
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(backg.jpg);
  background-size: cover;
  background-position: center;
}
#rectangle {
  width: 150px;
  height: 100vh;
  background: rgba(71, 173, 185, 0.8);
}
#black {
  width: 20px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}